// VARS

$white: #fff;
$dark-gray: #343434;
$blue: #428bca;;
$light-gray: #B4B4B4;
$lightest-gray: #DBDBDB;
$navbar-height: 120px;

// GENERAL

.container {
  max-width: 900px;
}

h3 {
  color: $dark-gray;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.page-title {
  color: $dark-gray;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 30px;
}

// NAVBAR

.navbar {
  background-color: $white;
  border-color: $white;
  height: $navbar-height;
}

.logo-container {
  padding-top: 45px;
}

.logo-text, .logo-text:hover {
  color: $dark-gray;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  i {
    color: $blue;
    font-size: 25px;
  }
}

.navbar-nav>li>a {
  padding-top: 47px;
  color: $dark-gray;
  font-size: 17px;
}

.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  text-decoration: none;
  background-color: $white;
}

// FORMS

.form-container {
  width: 400px;
  padding: 15px 30px 30px;
  margin: 20px auto;
}

.form-label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin-top: 12px;
}

.remember-me {
  margin-top: 10px;
}

// BUTTONS

.btn-submit {
  display: block;
  margin-top: 20px;
}

// FOOTER

.footer {
  height: 200px;
}

// HOME

.home-title {
  font-size: 30px;
  text-align: center;
  margin-top: 45px;
  line-height: 1.2em;
}

// EMPTY STATES

.main-empty-state {
  text-align: center;
  margin-top: 120px;
  font-size: 17px;
}
